<%- include("partials/header.ejs") %>
<div class="center">
    <br />
  
    <h1>Projects</h1>
    <div class="b">
      <p>
        Welcome to my project zone, where all the magic will happen... eventually!
        😅 I've got these ginormous plans for some seriously epic stuff, but
        first, gotta brainstorm some super cool ideas! 🤔 Oh wait, did I say
        'first'? Scratch that, I might've, umm... totally forgot! 😄 But hey, stay
        tuned! Who knows what awesomeness awaits in the whimsical world of my
        creations! 🌟
      </p>
    </div>
    <br />
    <div class="b">
      <br />
      <br /><br /><br /><br /><br />
    </div>
</div>


<div class="row">
    <div class="col-md-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
            <img src="/images/foxresume.png" alt="" width="100%" height="100%">
          <h5 class="card-title">My Resume</h5>
          <p class="card-text">Ta-da! 🎉 Welcome to my magical resume, where all my awesome achievements and super-duper skills come to life! 💫 It's like a treasure trove of everything cool I've done and learned! So, get ready to be amazed and inspired! 🌟</p>
          <a href="/projects/resume/index.html" class="btn btn-primary">rawr</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <img src="/images/botscript.png" alt="" width="100%" height="100%">
          <h5 class="card-title">My Discord Bot</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="https://github.com/Fox-Foxington/discordbot" class="btn btn-primary">To Da Bot!</a>
        </div>
      </div>
    </div>
  
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  
<div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>